@{
    ViewBag.Title = "Confirmar correo electrónico";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar tu correo. Por favor @Html.ActionLink("clica aquí para loguearte", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
