<div>
    @Html.Hidden("NotaId")
    <div class="row embed-responsive-item">

        <div class="edits-top options-style">
            <h2>Editor</h2>
            <p>
                Escriba sus notas y guárdelas.
            </p>
            <p><a class="btn btn-default" onclick="GoEditor()">Ir a editor &raquo;</a></p>
            <div class="consultar">
                <h2>Mis notas</h2>
                <p>Consulte sus notas</p>
                <p><a class="btn btn-default" onclick="GoWatch()">Consultar &raquo;</a></p>
            </div>
        </div>
    </div>
    <hr />
    <div class="editor-output" />
    <div class="collection-output" />
</div>

@Scripts.Render("~/bundles/manageNotas")

